* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
}
.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	font-size: 0;
	
}
.nav-item {
	display: inline-block;
}
.nav-item a {
	color: #fff;
	padding: 0 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 50px;
	transition: color 0.3s;
}
.nav-item a:hover {
	color: gold;
}
.header-img {
	position: relative;
	height: 300px;
	background-image: url('../img/desert.jpg');
	background-size: cover;
	background-position: 0 50%;
}
.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	z-index: 1;
}
.header-text h1 {
	text-transform: uppercase;
	margin-bottom: 10;
	letter-spacing: 2px;
}
.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 3, 27, 0.4);
}
main {
	margin: 50px auto;
	width: 1200px;
}
main h2 {
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}
.about-us-box {
	margin: 40px 0;
	position: relative;
	height: 300px;
	background-attachment: fixed;
	background-position: 50% 50%;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 25px;
overflow: hidden;
}
.top {
	background-image: url('../img/coffee.jpg');
}
.middle {
	background-image: url('../img/mobile.jpg');
}
.bottom {
	background-image: url('../img/office.jpg');
}
.about-us-text{
    position: absolute;
    bottom: 20px;
    padding: 20px 40px;
    color: #fff;
    text-align: center;
}
.about-us-text h3{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.about-us-bg{
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
}
table{
    border-spacing: 0;
}
table, th, td {
    border: 1px solid #333;
}
th, td{
    padding: 10px 30px;
}
th{
    background-color: bisque;
}
footer {
	height: 80px;
	line-height: 80px;
	background-color: #333;
	color: #ddd;
	text-align: center;
	font-size: 20px;
}
.center{
   margin: 0 auto;
}
.center-p{
text-align: center;
font-size: 36px;

}
ul{
    display: table;
    margin: 0 auto;
}
.icon-box {
	margin-left: 20px;
}
.icon-box a {
	margin: 0 5px;
	color: #ddd;
	font-size: 25px;
	transition: color 0.3s;
}
.icon-box a:hover {
	color: dodgerblue;
}
